<% provide(:title, "Log in") %>
<h1><%= t(".title")%></h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f|  %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :password %>
          <%= link_to t(".forgot"), new_password_reset_path %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span><%= t(".remember") %></span>
          <% end %>
        </div>
        <%= f.submit t(".title"), class: 'btn btn-primary' %>
      <% end %>
    </div>
</div>

