<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'share/error_messages', object: f.object %>
  <div class="field">
      <%= f.text_area :content, class: "form-control", placeholder: t("static.home.textarea_placeholder") %>
  </div>
  <%= f.submit t("static.home.post_buttom"), class: "btn btn-primary" %>
  <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $("#micropost_picture").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
    }
  });
</script>

