<%= link_to gravatar(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("users.view_profile"), current_user %></span>
<span><%= t("users.microposts_count", count: current_user.microposts.count) %></span>
