<%= t(".title_html") %>

<%= t(".p1_html") %>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<%= t(".p2_html") %>

<%= t(".p3_html") %>