<li>
    <%= gravatar user, size: 50 %>
    <%= link_to user.name, user %>
    <% unless current_user.nil? %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
</li>