<% provide(:title, "Edit") %>
<% provide(:button_text, t("users.edit.save")) %>
<h1><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar @user %>
      <a href="http://gravatar.com/emails" target="_blank"><%= t(".change_image") %></a>
    </div>
  </div>
</div>
