<% provide(:title, 'Sign Up') %>
<% provide(:button_text, t("users.create_account")) %>
<h1><%= t("users.signup") %></h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
    </div>
  </div>