<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user-info">
            <h1>
                <%= gravatar @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section class="stats">
          <%= render 'share/stats' %>
        </section>
    </aside>
    <%= render 'follow_form' if logged_in? %>
    <div class="col-md-8">
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
              <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts %>
        <% end %>
    </div>

</div>

