<% provide(:title, 'Home') %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'share/user_info' %>
      </section>
      <section class="stats">
        <%= render 'share/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'share/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%=  t("users.micropost_feed") %></h3>
      <%= render 'share/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%=  t('static.home.welcome') %></h1>
    <h2><%= t("static.home.message_html") %></h2>
    <%= link_to t('static.home.signup'), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

