<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.picture.url if micropost.picture? %>
  <span class="timestamp">
    <%= t("microposts.posted") + " " + time_ago_in_words(micropost.created_at) + " " + t("microposts.ago") %>.
    <% if current_user?(micropost.user) %>
      <%= link_to t("microposts.delete_link"), micropost, method: :delete,
                                       data: { confirm: t("microposts.delete_confirm") } %>
    <% end %>
  </span>
</li>