<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Microblog Labs", root_path, id: "logo", class: "navbar-brand" %>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <%= link_to root_path(locale: 'en') do %>
                        <%= image_tag "gb.gif" %>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to root_path(locale: 'pt-BR') do %>
                        <%= image_tag "br.gif" %>
                      <% end %>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to t("nav.home"), root_path %></li>
                  <li><%= link_to t("nav.about"), about_path %></li>
                  <% if logged_in? %>
                    <li><%= link_to t("static.home.users"), users_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= t("static.home.account") %> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to t("static.home.profile"), current_user %></li>
                            <li><%= link_to t("static.home.settings"), edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to t("static.home.logout"), logout_path, method: "delete" %>
                            </li>
                        </ul>
                    </li>
                  <% else %>
                    <li><%= link_to t("nav.login"), login_path %></li>
                  <% end %>
              </ul>
              <%= render 'layouts/search' %>
          </div>
      </div>
  </nav>