<%= form_tag(users_path, method: 'get', class: 'navbar-form navbar-right',
    :role => 'search', :enforce_utf8 => false) do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t("nav.search") %>
  </div>
  <%= button_tag nil, type: 'submit', class:'btn btn-default', name: nil do %>
    <%= content_tag(:span, nil, class: 'glyphicon glyphicon-search', :'aria-hidden' => true ) %>
  <% end %>
<% end %>