<!DOCTYPE html>
<html>
    <head>
        <title><%= complete_title(yield(:title)) %></title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster" %>
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= render "layouts/shim" %>
    </head>
    <body>
        <%= render 'layouts/nav' %>

        <div class="container">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %>
        </div>
    </body>
</html>
